
<hr />
<div id="grid"></div>
<input type="text" name="name" value="" id="txtName" />
<input id="phone_number" value="555 123 4567" />
<script>
    $(document).ready(function () {
        $("#phone_number").kendoMaskedTextBox({
            mask: "(999) 000-0000"
        });
        function getName() {
            return $('#txtName').val();
        }
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/Persons",
                        data: { Name: getName() }
                    },
                },
                schema: {
                    total: "total",
                    data: "Data.List",
                    model: {
                        fields: {
                            Id: { type: "number" },
                            Name: { type: "string" },
                            LastName: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,


            columns:
            [
                { field: "Id", filterable: false },
                { field: "Name", filterable: true }
            ]
        });
        $('#txtName').kendoMaskedTextBox({
            mask: "(999) 000-0000"
        });
    });

    function getSelectedPersons() {
        var gridData = $("#grid").data("kendoGrid");
        var rows = gridData.select();
        var lstPersons = new Array();
        rows.each(function (index, row) {
            lstPersons.push(gridData.dataItem(row));
        });
        return lstPersons;
    }

</script>

