
<hr />
<input type="text" name="name" value="" id="txtName" />
<button id="btnSearch" class="k-primary">Search</button>
<div id="grid"></div>
<script>
    $(document).ready(function () {
        $("#txtName").kendoMaskedTextBox();
        $("#btnSearch").kendoButton({icon:"referesh"});
        $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read:
                    {
                        url: "/Home/Persons",
                        method: "POST",
                        headers: { token: "sdfasdf" }
                    },
                },
                schema: {
                    total: "total",
                    data: "Data.List",
                    model: {
                        fields: {
                                Id: { type: "number" },
                            Name: { type: "string" },
                            LastName: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            

            columns:
            [
                {
                    field: "Id", template: function (datarow) {
                        return '<a class="btn btn-primary" href="edit?Id=' + datarow.Id + '">Edit</a>';
                    }
                },
                { field: "Id" },
                { field: "Id", filterable: false, selectable: true },
                { field: "Name", filterable: true },
            ]
        });
    });

    function getSelectedPersons() {
        var gridData = $("#grid").data("kendoGrid");
        var rows = gridData.select();
        var lstPersons = new Array();
        rows.each(function (index, row) {
            lstPersons.push(gridData.dataItem(row));
        });
        return lstPersons;
    }

    $('#btnSearch').click(function () {

        var grid       = $('#grid').data('kendoGrid');
        var dataSource = grid.dataSource;

        dataSource.options.transport.read.data = { name: $('#txtName').val() };

        dataSource.read();
        grid.refresh();
    });
</script>

