
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TsTest</title>
    <script src="~/Scripts/Person.js"></script>
    
</head>
<body>
    <div>
        <button id="btnGet" onclick="showPersons()">Get</button>
        <div id="placeHolder">

        </div>
    </div>
</body>
</html>
